xdrMessageFactory/src/main/resources/directDisposition.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:direct:addressing" xmlns:direct="urn:direct:addressing">
  <xs:element name="messageDisposition">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="direct:recipient"/>
        <xs:element ref="direct:disposition"/>
        <xs:element ref="direct:reasonForFailure" minOccurs="0" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recipient" type="xs:anyURI"/>
  <xs:element name="disposition" type="xs:NCName"/>
  <xs:element name="reasonForFailure" type="xs:NCName"/>
</xs:schema>
